/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

 html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', 'Lobster', Arial;
    font-weight: 300;
}

/**, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}*/
 
/****************************************
  Defaults
*****************************************/
body {
	margin: 0;
}

/****************************************
  Helpers
*****************************************/
 .cf::after {
    content: '';
    display: block;
    clear: both;
} 

/****************************************
  Layout
*****************************************/

.panel > div {
	background-color: #84D4DD;
	width: 1060px;
	margin: 0 auto;
}
 
.pl-homeLink {
	background-color: #F00;
	display: inline-block;
	margin: 2px;
	color: white;

}

/* .pl-homeLink > a {
	color: white;
} */

.primary-search-field {
	background-color: #00F;
	font-color: gray;
	position: absolute;
	top: 10px;
	right: 0;
}

.primary-header {
	background-color: #FFA600;
	position: relative;
	height: 150px;
}

.primary-nav {
	background-color: #008100;
	position: absolute;
	overflow: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.primary-nav > a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

.panel.hero {
	background-color: #0AB;
	position: relative;
}

.panel.hero > div {
	background-color: #84D4DD;
	min-height: 450px;
	position: relative;

}

.header-description {
	background-color: #F0F;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	bottom: 30px;
	color: white;
}

.header-description > div{
	font-size: 30pt;
}

.panel.primary-content {
	background-color: #810082;
}

.panel.primary-content > div {
	background-color: #FFBFCB;
}

div.tiles {
	background-color: #008100;
	text-align: center;
}

div.tiles > div {
	background-color: #0F0;
	display: inline-block;
	padding: 10px 5px 0 5px;
	transform: translateY(-20px);
	min-height: 142px;
	width: calc(31% - 10px);
}

div.tiles > * + * {
	margin-left: 10px;
}

.primary-aside-section {
	background-color: #0F0;
	min-height: 300px;
	width: calc(40% - 10px);
	padding: 10px;
	float: left;
}

.primary-aside-section > * + * {
	margin-top: 10px;
}

.primary-aside-media {
	background-color: #F00;
	height: 85px;
	overflow: hidden;
}

.primary-aside-graphic {
	float: left;
}

.primary-aside-graphic > img {
	width: 85px;
	height: 85px;
}


.primary-aside-content {
	background-color: #FF0;
	margin-left: 85px;
	padding: 5px;
}

.primary-aside-dog-name {
	font-weight: bold;
}

.secondary-aside-section {
	background-color: #00F;
	min-height: 300px;
	overflow: hidden;
}

.secondary-aside-media {
	display: inline-block;
	min-height: 150px;
	width: 160px;
	margin: 10px;
	vertical-align: top;
}

.secondary-aside-graphic > img {
	width: 160px;
	height: 150px;
	margin-bottom: -5px;
}

.secondary-aside-content {
	background-color: #FF0;
	padding: 5px;
}


/****************************************
  Components
*****************************************/

.primary-search-button {
	color: #FEFFFF;
}